anyio
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
Babel
backcall
backports.functools-lru-cache
beautifulsoup4
bleach
blis==0.7.8
boto3==1.24.36
botocore==1.27.36
catalogue
certifi
cffi
charset-normalizer
click==8.0.3
colorama
coreferee==1.2.0
cryptography
cymem==2.0.6
debugpy
decorator
defusedxml
distlib==0.3.4
#en-core-web-sm
entrypoints
executing
fastjsonschema
filelock==3.5.1
Flask==2.1.2
flit_core
idna
importlib-metadata==4.11.2
importlib-resources
ipykernel
ipython
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi
Jinja2==3.0.3
jmespath==1.0.1
joblib
json5
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
langcodes==3.3.0
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib-inline
mistune==0.8.4
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
murmurhash==1.0.7
nbclassic
nbclient
nbconvert
nbformat
neovim==0.3.1
nest-asyncio
nltk
notebook
notebook-shim
numpy
packaging
pandocfilters
parso
path-and-address==2.0.1
pathy==0.6.2
pdoc3==0.10.0
pexpect
pickleshare
plac==1.1.3
platformdirs==2.5.0
ply==3.11
preshed==3.0.6
prometheus-client
prompt-toolkit
ptyprocess
pure-eval
pycparser
pydantic==1.8.2
Pygments
pyOpenSSL
pyparsing
pyrsistent
PySocks
python-dateutil
pytz
pyzmq
regex
requests
s3transfer==0.6.0
Send2Trash
shellingham
six
sly==0.4
smart-open==5.2.1
sniffio
soupsieve
spacy==3.3.3
spacy-legacy==3.0.9
spacy-loggers==1.0.2
srsly==2.4.4
stack-data
terminado
thinc==8.0.17
tinycss2
tornado
tqdm==4.64.0
traitlets
typer==0.4.2
typing_extensions
#ueberzug==18.1.9
urllib3==1.26.10
#uWSGI==2.0.20
virtualenv==20.14.1
wasabi==0.9.1
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug==2.0.3
zipp==3.7.0
